#title {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: ; */
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  /* text-shadow: 2px 2px black; */
}

/* #title:hover{
    
} */

#search {
  background-color: white;
  border: 1px solid black;
}

#cart {
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}

#search:hover {
  background: transparent;
  background-color: white;
  /* border: 2px solid white; */
  box-shadow: 5px 5px black;
}

#cart:hover {
  background: transparent;
  background-color: white;
  /* border: 2px solid white; */
  box-shadow: 5px 5px black;
}

/* #pencarian:hover{
    box-shadow: 2px 2px black;
} */

Form:hover {
  /* background-color: red; */
  /* border: 2px solid black; */
  /* box-shadow: 2px 2px red; */
}
